//
// Smooth Drop
// v0.3.3
// Open sourced under MIT license by @jasonmelgoza
// ------------------------------

// MIXINS
// ------------------------------

// Transform
@mixin sd-transform($parameters) {
  -webkit-transform: $parameters;
     -moz-transform: $parameters;
      -ms-transform: $parameters;
          transform: $parameters;
}

// Transform origin
@mixin sd-transform-origin($origin) {
  -webkit-transform-origin:$origin;
     -moz-transform-origin:$origin;
      -ms-transform-origin:$origin;
          transform-origin:$origin;
}

// Transition
@mixin sd-transition($style: transform, $length: 1s, $easing: cubic-bezier) {
  -webkit-transition: $style $length $easing;
     -moz-transition: $style $length $easing;
      -ms-transition: $style $length $easing;
          transition: $style $length $easing;
}

// Backface
@mixin sd-backface-visibility($visibility) {
  -webkit-backface-visibility: $visibility;
     -moz-backface-visibility: $visibility;
      -ms-backface-visibility: $visibility;
          backface-visibility: $visibility;
}

// STYLES
// ------------------------------

// basic animated dropdown
.dropdown-menu {
  display: block;
  opacity: 0;
  @include sd-transform-origin(top);
  @include sd-transform(scale(1, 0));
  @include sd-transition(all, 170ms, cubic-bezier(0.3, 0, 0, 1.3));
  @include sd-backface-visibility(hidden);
  li {
    visibility: hidden;
  }
}

// dropbdown center origin option
.dropdown-menu.dropdown-menu-center {
  @include sd-transform-origin(top center);
  @include sd-transform(scale(0));
  @include sd-transition(all, 300ms, cubic-bezier(0.3, 0, 0, 1.3));
}

// dropdown open
.open > .dropdown-menu {
  @include sd-transform(scale(1, 1));
  opacity: 1;
  li {
    visibility: visible;
  }
}

// optional dropups
.dropup .dropdown-menu {
  @include sd-transform-origin(bottom);
}
.dropup .dropdown-menu.dropdown-menu-center {
  @include sd-transform-origin(bottom center);
}