.dropdown-menu {
  display: block;
  opacity: 0;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transition: all 170ms cubic-bezier(0.3, 0, 0, 1.3);
  -moz-transition: all 170ms cubic-bezier(0.3, 0, 0, 1.3);
  -ms-transition: all 170ms cubic-bezier(0.3, 0, 0, 1.3);
  transition: all 170ms cubic-bezier(0.3, 0, 0, 1.3);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.dropdown-menu li {
  visibility: hidden;
}

.dropdown-menu.dropdown-menu-center {
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 300ms cubic-bezier(0.3, 0, 0, 1.3);
  -moz-transition: all 300ms cubic-bezier(0.3, 0, 0, 1.3);
  -ms-transition: all 300ms cubic-bezier(0.3, 0, 0, 1.3);
  transition: all 300ms cubic-bezier(0.3, 0, 0, 1.3);
}

.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
}
.open > .dropdown-menu li {
  visibility: visible;
}

.dropup .dropdown-menu {
  -webkit-transform-origin: bottom;
  -moz-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
}

.dropup .dropdown-menu.dropdown-menu-center {
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center;
}

/*# sourceMappingURL=smooth-drop.css.map */
